// Default variable overrides
$body-bg: rgb(250, 248, 243);
$body-color: rgb(0, 152, 199);
$input-placeholder-color: $body-color;
$body-text-align: center;
$enable-shadows: true;

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
